
<div class="image-employee">
  <img ngSrc="images/worker.png" alt="Employee photo" width="200" height="200">
</div>

<div class="employee-details-container" >
  <div class="nav-tabs">

    <header>
      <a [routerLink]="['/dashboard/employeeDetails',personalId]"  class="nav-tab" >פרטי עובד</a>
      <a [routerLink]="['/dashboard/salary', personalId]" class="nav-tab ">פרטי שכר</a>
      <a [routerLink]="['/dashboard/document',personalId]" class="nav-tab active">מסמכים לעובד</a>
    </header>
    
    
  </div>
    <div class="upload-container">
      <Button class="upload-btn">העלאה </Button>
    </div>
   @defer (on idle) {
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>שם מסמך</th>
            <th style="width: 200px; text-align:center;">פעולות</th>
          </tr>
        </thead>
        <tbody>

          @for (doc of document; track doc.path) {
          <tr>
            <td>
            <div class="item-name">
              @if (doc.is_folder || doc.isFolder) {
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"
                    ></path>
                  </svg>
                <span>{{ doc.name }}/</span>

              } @else {
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z"
                    ></path>
                  </svg>
                <span>{{ doc.name }}</span>
              }
              </div>
            </td>
            <td style="text-align: center;">
              <div class="action-cell">
              
                <button (click)="download(doc, $event)" class="action-btn download-btn">הורדה</button>
                <button (click)="showDoc(doc, $event)" class="action-btn download-btn">הצג</button>
                <button (click)="deleteDoc(doc, $event)" class="action-btn delete-btn">מחיקה</button>
                
                  
              </div>
            </td>
          </tr>
        }
        </tbody>
      </table>
  </div>
}
</div>

