.buttons-container {
  display: flex;
  gap: 10px;
  padding-right: 20px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: transparent;
}

.add-employee-btn {
  border: none;
  border-radius: 10px;
  width: 130px;
  height: 38px;
  background: linear-gradient(90deg, #007bff, #00e0ff);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;
  letter-spacing: 0.3px;
}

.add-employee-btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transform: translateY(-1px);
}

.add-employee-btn:active {
  background-color: rgba(255, 255, 255, 0.08);
  transform: translateY(1px);
}

.search {
  display: block;
  width: 230px;
  height: 38px;
  border-radius: 10px;
  background: linear-gradient(90deg, #fcfcff, #d0e0e3);
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  direction: rtl;
  text-align: right;
}

.content-wrapper,
.scrollable-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 16px;
  border: 1px solid #acaaaa;
  overflow: hidden;
  margin-bottom: 20px;
  direction: rtl;
  border-left: none; 
  margin-right: auto;
}


.table-wrapper table {
  width: 100%; 
  font-size: 14px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 1px;
}

.table-wrapper thead th {
  position: sticky;
  top: 0;
  background: #80bbf3;
  z-index: 2;
}

th, td {
  padding: 12px 8px;
  vertical-align: middle;
  border-bottom: 1px solid rgb(161, 156, 156);
}

th {
  color: #000000;
  font-weight: 500;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.action-btn {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  background-color: #9dc3eb;
}

.actions-cell {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.badge {
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
}

.status-active {
  background-color: #e6f4ea;
  color: #1e8e3e;
}

.status-inactive {
  background-color: #fce8e6;
  color: #c5221f;
}

.online-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.online {
  background-color: #1e8e3e;
}

.offline {
  background-color: #ccc;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  color: #1a73e8;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #1a73e8;
  color: white;
  border: 1px solid #1a73e8;
}
.selected-row {
  background-color: #d7d8db;
}