

<div class="login">

  <span class="title">התחברות</span>

  <input [(ngModel)]="username" class= "username" placeholder="Username">


  <div class="password-container">
    <input
      [(ngModel)]="password"
      [type]="showPassword ? 'text' : 'password'"
      class="password"
      placeholder="Password" />
    <button
      type="button"
      class="toggle-btn"
      (click)="showPassword = !showPassword">
      {{ showPassword ? '🔓‍️' : '🔒‍' }}
    </button>
  </div>


  <button type="submit" class="loginBTN"  (click)="onLogin()">התחבר</button>
  <span (click)="goToRegister()" class="register"><strong>הרשמה</strong></span>

</div>



