.main-container {
    direction: rtl;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fc;
    min-height: 100vh;
}

.buttons-container {
    display: flex;
    gap: 10px;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.add-employee-btn {
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 38px;
    background: linear-gradient(90deg, #007bff, #00e0ff);
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease;
    letter-spacing: 0.3px;
}

.add-employee-btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.add-employee-btn:active {
    opacity: 0.8;
    transform: translateY(1px);
}

.search {
    display: block;
    width: 230px;
    height: 38px;
    border-radius: 10px;
    background: linear-gradient(90deg, #fcfcff, #d0e0e3);
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    direction: rtl;
    text-align: right;
}

.content-wrapper,
.scrollable-content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
}

.table-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 16px;
    border: 1px solid #acaaaa;
    overflow: hidden;
    margin-bottom: 20px;
    direction: rtl;
    box-shadow: 0 2px 4px #a0a0a0;
    width: 98% !important;
    margin-left: 1%;
}

.table-wrapper table {
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.table-wrapper th,
.table-wrapper td {
    padding: 12px 8px;
    vertical-align: middle;
    border-bottom: 1px solid #a0a0a0; 
}

.table-wrapper thead th {
    background: #80bbf3;
    color: #000;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 2;
}

.action-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: 0;
    margin: 0;
    cursor: pointer;
    color: #1a73e8;
}

.action-btn:hover {
    color: #0056b3;
}

.online-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.online {
    background-color: #1e8e3e;
}

.offline {
    background-color: #ccc;
}

.selected-row {
    background-color: #d7d8db;
}

.table-wrapper table .mat-column-fullName {
    width: 20%;
    padding-right: 45px;
    text-align: right;
    
}

.table-wrapper table .mat-column-email,
.table-wrapper table .mat-column-phone,
.table-wrapper table .mat-column-address,
.table-wrapper table .mat-column-department,
.table-wrapper table .mat-column-status,
.table-wrapper table .mat-column-actions{
    width: 15%;
    text-align: center;
}

.center-text {
    text-align: center !important;
}

