html, body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.image-employee{
  position: absolute;
  background-color: white;
  width: 200px;
  height: 200px;
  left: 120px;
  top: 120px;

}
.employee-details-container{
  position: absolute;
  background-color: transparent;
  width: 800px;
  height: 200px;
  right: 120px;
  top: 120px;
  display: flex;
  flex-direction: row-reverse;
}
.employee-name{
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 26px;
  color: #1e1e1e;
}
.employee-id{
  position: absolute;
  top: 20px;
  right: 400px;
  font-size: 26px;
  color: #1e1e1e;
}
.employee-phone{
  position: absolute;
  top: 80px;
  right: 40px;
  font-size: 26px;
  color: #1e1e1e;
}
.employee-email{
  position: relative;
  top: 80px;
  right: 400px;
  font-size: 26px;
  color: #1e1e1e;
}
.employee-department{
  position: absolute;
  top: 150px;
  right: 40px;
  font-size: 26px;
  color: #1e1e1e;
}
.employee-date-start{
  position: absolute;
  top: 150px;
  right: 400px;
  font-size: 26px;
  color: #1e1e1e;
}
.salary-employee-details{
  position: absolute;
  background-color: transparent;
  width: 800px;
  height: 200px;
  right: 120px;
  top: 400px;
  display: flex;
  flex-direction: row-reverse;
}
.salary-per-hour{
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 26px;
  color: #1e1e1e;
}
.salary-month{
  position: absolute;
  top: 20px;
  right: 420px;
  font-size: 26px;
  color: #1e1e1e;
}
.bonus{
  position: absolute;
  top: 80px;
  right: 40px;
  font-size: 26px;
  color: #1e1e1e;
}
.pension{
  position: absolute;
  top: 80px;
  right: 420px;
  font-size: 26px;
  color: #1e1e1e;
}
.settings{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  left: 120px;
  top: 420px;
  background: transparent;
}
.edit-btn{
  position: absolute;
  top: 20px;
  width: 90px;
  align-self: center;
  font-size: 20px;
  border-radius: 5px;
  border-color: #d0e0e3;
  cursor: pointer;

}
.edit-btn:hover{
  background-color: #d0e0e3;
  color: white;

}
.edit-btn:active{
  background-color: #d0e0e3;
}
.attendance-btn{
  width: 90px;
  position: absolute;
  top: 60px;
  align-self: center;
  font-size: 20px;
  color: #1e1e1e;
  border-radius: 5px;
  border-color: #d0e0e3;
  cursor: pointer;
}
.attendance-btn:hover{
  background-color: #d0e0e3;
  color: white;
}
.attendance-btn:active{
  background-color: #d0e0e3;
}
